body{
    background-color: #a39695;
}

.hm-width{
    width: 100%;
    margin: 10vw auto 20vw;
}

.module {
    background-color: #4D4D4D;
    border-radius: 20px;
    justify-content: center;
    padding: 20px 30px;

}

.logo {
    width: 80%;
    height: auto;
    margin: 3rem 0 1.5rem;
}

h1{
    text-align: start;
    margin: 2rem 4rem 1rem;

}

.carousel-item span {
    font-size: 5vw;
}

.carousel-item h3{
    font-size: 1.2rem;
    padding: 1rem;
}

.carousel-item p{
    line-height: 4vw;
}

.rating {
    display: flex;
    justify-content: center;
}

.rating div {
    box-sizing: border-box;
    height: 7vw;
    width: 7vw;
    background-color: #5f39b1;
    border-radius: 50%;
    margin: 1px;
    border: solid 2px whitesmoke;
}

.rating .empty {
    background-color: #a39695;
}

.experience {
    margin-bottom: 0;
}

.nemesis {
    justify-items: center;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.portrait {

    margin: 100px auto -30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    border: solid 5px whitesmoke;
}


.nemesis .portrait {
    display: flex;
    align-items: flex-end;
    max-width: 300px;
    max-height: 300px;
    min-height: 150px;
    min-width: 150px;
    margin: 20px 10px;


}

.portrait.joker {
    background-image: url(../img/joker.jpg);

}

.portrait.freeze {
    background-image: url(../img/Mr._Freeze.webp);
}

.portrait.bane {
    background-image: url(../img/bane.jpg);
}

.portrait.ivy {
    background-image: url(../img/poison_ivy.jpg);
    background-size: cover;
}

.card img {
    height: 30vh ;
    object-fit: cover;
    object-position: top;
}

.wiki-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 2rem 0;
}

.wiki-title h2{
    text-transform: uppercase;
}

.wiki-title h5{
    font-size: 3.4vw;
   
}
