*{
    font-family: 'Poppins';
}
    main{
        padding: 0 3% 0 3%;
    }

   body{
       margin: 0px;
   }

    H1, form div{
        display: flex;
        flex-direction: column;
        padding-top: 1vh;
    }

    form input {
        background-color: #343a40;
        color: white;
        border: 0px;
        border-radius: 8px;
        height: 30px;
        font-size: larger;
        padding: 10px 0px;
    }

    .textbox{
        padding-top: 3vh;
    }

    textarea{
        background-color: #343a40;
        color: white;
        border: 0px;
        border-radius: 8px;
        padding: 5px;
        font-size: larger;
    }

    button.submit{
        height: 50px;
        width: 120px;
        border-radius: 15px;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        background-image: url(/img/imgsubmit.svg);
        background-repeat: no-repeat;
        background-position: 13% 50%;
        background-color: #343a40;
        border: 0px;
        color: white;
        font-size: larger;
        padding-left: 30px;
    }
    
    ::placeholder{
        text-align: left;
        padding: 10px 16px;
    }

    div.button{
        padding-bottom: 5vh;
    }

    div.urgence{
        align-items: center;
        padding-top: 3vh;
        color: red;
        font-weight: 900;
        font-size: larger;
    }

    #contact_select, #request_select{
        width: 20vw;
    }

    .request, .contact{
        align-items: center;
    }
    
    .warning{
        display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    }

    #imgwarn{
        padding: 10px;
    }

    ul.contactListe {
        display: flex;
        flex-direction: column;
        padding: 3% 0% 3% 20px;
        font-size: larger;
        flex-wrap: nowrap;
    }

    h2{
        font-size: larger;
        padding-top: 3%;
    }

    h3 {
        color: red;
        font-size: xx-large;
        font-weight: 900;
    }

    @media (min-width: 780px) and (max-width: 1080px){
        div.flex{
            display: flex;
            padding-left: 10%;
            padding-right: 10%;
            flex-direction: column;
        }
        div.textarea{
            padding-top: 40px;
        }
    }

    @media (min-width: 1080px){
        div.flex{
            display: flex;
            padding-left: 20%;
            padding-right: 20%;
            flex-direction: column;
        }
        div.flexname{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        div.textarea{
            padding-top: 40px;
        }
        ul.contactListe{
            padding: 3% 0 3% 50%;
        }
    }
