* {
    font-family: 'Poppins';
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(20, 16, 16);
    text-align: center;
}

.card-body {
    background-color: dimgrey;
    width: 90%;
    border-radius: 7%;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    padding-bottom: 65px;
}
.card-img-top{
    width: 90%;
    border-radius: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.card {
    background-color: lightgrey;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.dis {
    font-size: 60px;
    border: 4px solid rgb(172, 172, 172);
    border-radius: 15px;
}

h5 {
    border: 4px solid rgb(172, 172, 172);
    width: auto;
    border-radius: 3px;
    font-size: 24px;
}
  
/* Popover styling

.popover__wrapper {
    background-color: lightgrey;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }*/
  
a {
    text-decoration: none;
  }
  
.popover__title {
    font-size: 16px;
    line-height: 36px;
    border: 4px solid rgb(172, 172, 172);
    border-radius: 3px;
  }
  
.popover__wrapper {
    position:absolute;
    width: 80%;
    margin-bottom: 13.5rem;
    display: block;
  }
.popover__content {
    opacity: 0;
    visibility: hidden;
    position: sticky;
    left: -150px;
    transform: translate(0, 10px);
    background-color: dimgrey;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
  }
.popover__content:before {
    position: fixed;
    z-index: -1;
    content: "";
    right: calc(50% - 10px);
    top: -8px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #bfbfbf transparent;
    transition-duration: 0.3s;
    transition-property: transform;
  }
.popover__wrapper:hover .popover__content {
    z-index: 10;
    opacity: 1;
    visibility: visible;
    transform: translate(0, -20px);
    transition: all 0.5s cubic-bezier(0.75, -0.02, 0.2, 0.97);
  }

@media screen and (min-width:780px) {
    .card {
        display: flex;
        justify-content:center;
    }
}