* {
    box-sizing: border-box;
    }
header {
    background-color: dimgrey;
    }
.rescue_persons {
    border: 3px ridge #696969;
    border-radius: 20px;
    background-color: #696969;
    padding: .2rem;
    width: 50%;
    height: 599px;
    display : flex;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    font-family: 'Poppins';
    color: #FFFFFF;
    }
.rescue_img {
    width: 150px;
    border-radius: 50%;
    border: 5px ridge #FFFFFF;
    }    
.rescue_persons h2 {
    width: 200px;
    height: 41px;
    left: 114px;
    top: 353px;    
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 30px;
    line-height: 24px;
    text-align: center;    
    color: #FFFFFF;
    }
.services_list {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .2rem;
    border: 2px ridge #FFFFFF;
    border-radius: 20px;
    }
.under_list{  
    list-style: georgian;
    list-style-position: inside;
    font-weight: bolder;
    color: #2c2b2b;
    }
.ride_persons {
    border: 3px ridge #696969;
    border-radius: 20px;
    background-color: #696969;
    padding: .2rem;
    width: 50%;
    height: 599px;
    display : flex;
    flex-direction: column;
    align-items: center;
    }
.ride_img {
    width: 150px;
    border-radius: 50%;
    border: 5px ridge #FFFFFF;
    }    
.ride_persons h2 {
    width: 200px;
    height: 41px;
    left: 114px;
    top: 353px;    
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;    
    color: #FFFFFF;
    }
.featuring_superman {
    border: 3px ridge #696969;
    border-radius: 20px;
    background-color: #696969;
    padding: .2rem;
    width: 50%;
    height: 599px;
    display : flex;
    flex-direction: column;
    align-items: center;
    }
.superman_img {
    width: 150px;
    border-radius: 50%;
    border: 5px ridge #FFFFFF;
    }    
.featuring_superman h2 {
    width: 200px;
    height: 41px;
    left: 114px;
    top: 353px;    
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 30px;
    line-height: 24px;
    text-align: center;    
    color: #FFFFFF;
    }

footer {
    margin-top: 20px;
    background-color: #4D4D4D;
    padding: 10px;
    text-align: center;
    color: white;
    }
          
footer p {
    color: white;
    margin: 0;
    }
          
a {text-decoration: none;}
li {list-style: none;}
ul {padding-left: 0rem;}
          

.center-foot {display: block;margin-left: auto;margin-right: auto}
.txt-center {text-align: center;}
.marg-foot {padding: 10px}
.flex {display: flex;}
.margin-top-btn {margin-top: 25px;}
input {padding: 10px;border-radius: 10px;border: 1px solid black;}
button {padding: 10px 40px 10px 40px;background-color: #848484;color: white;border-radius: 15px;}
padding-20 {padding: 20px;}
p {padding-top: 30px; padding-bottom: 20px;}

@media (min-width:780px) {

    .flex-content {display: flex;}
    
    
    footer {margin-top: 55px;}
    img#logo-foot {margin-left: 0px;}
    div#info-foot {text-align: left;}
    div#footer-responsive {display: flex; justify-content: space-between;}
    div#reseaux-sociaux {margin-top: 0px; padding: 20px}
    div#newsletter {margin-top: 0px; text-align: left; padding: 20px}
    li {text-align: left;}
}